html{

	}

body{

}
h1,h2,h3,h4,h5,p{
 font-family: 'Anton', sans-serif;
  color: gray;
  
}
p{
  font-size: 16px;
}
.top{
  position: absolute;
  top: 10px;
  right: 10%;
  z-index: 505;
  color: white;
  font-weight: 2;

  
}

/* sidebar navgation*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 205;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #0BB4C2;
  display: block;
  transition: 0.1s;
  
   border-width: 0;
}

.sidebar a:hover {
  color: #f1f1f1;
  border-bottom: 2px solid #078bff;
  transition: .2s;
  border-width:80%;
  background-color: rgba(0,123,255,.25);; 
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #1dc2f8;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:black ;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .booking-form{
    display: none;
  }

}
/* end of sidebar navgation*/


.carousel{
	
	z-index: 10;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.carousel-caption{
  position: fixed;
  top: 200px;
}

.carousel-item h1{


font-size: 54px;
color: white;
font-family: 'Anton', sans-serif;
}
.carousel-item p{
  color: white;
  font-family: 'Anton', sans-serif;
}
.carousel ol li{
  height: 50px;
  width: 50px;
  
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border: 2px solid white;
}
.carousel ol li:nth-child(1) {
  background-image: url(https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg);

}
.carousel ol li:nth-child(2) {
  background-image: url(https://images.pexels.com/photos/271616/pexels-photo-271616.jpeg);
  
}
.carousel ol li:nth-child(3) {
  background-image: url(https://images.pexels.com/photos/827516/pexels-photo-827516.jpeg);
  
}
/*animation carousel */
.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out both;
          animation: kenburns-top 5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-26 7:9:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-26 5:59:55
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
#main{
	position: fixed;
	top: 0px;
	right: 10px;
	z-index: 15;

}

/*Logo*/

.logo{
  position: absolute;
  top: 10px;
  left: 10%;
  z-index: 20;
  

}
.logo h1{
color: #dc3545;
font-family: 'Anton', sans-serif;
letter-spacing: 5px;
font-size: 30px;
}
.logo h1 span{
color: yellow;
color: #078bff;

}
.welcome{
font-family: 'Anton', sans-serif;

text-transform: uppercase;
}
.welcome h3{
 color: #ffc107; 
}
.welcome h3 span{
  color: rgba(41,184,229,1);
}
.welcome p{
  font-size: 14px;
  font-family: 'Gruppo', cursive;
}
/*rooms section*/
.card{
  width: 100%;
  overflow: hidden;
  height: 200px;
  border-radius: 0;
  margin-bottom: 20px;
}

.rooms img{
transition: transform .5s;
border-radius: 0;
}

.rooms img:hover{
 
  transform: scale(1.5);
}

.service{
  font-family: 'Anton', sans-serif;

text-transform: uppercase;
}
.service h3{
  color: #ffc107; 
}
.service h3 span{
   color: rgba(41,184,229,1);; 
}

.service p{
  font-size: 14px;
  font-family: 'Gruppo', cursive;
}
.list-group-item{
  height: 100px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 0;
  border: none;
}
.tt{
  height: 415px;
  overflow: hidden;
}
.tab-pane{
  height: 200;
  overflow: hidden;
}
/*parlex section*/
.parlex{
  height: auto;
  background-color: #1dc2f8;
  padding-bottom: 10px;
  text-transform: uppercase;
   /* The image used */
  background-image: url("https://images.unsplash.com/photo-1547897064-702dfaf930a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80");

  /* Set a specific height */
  height: auto; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: green;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-3 0:13:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.restaurant{
  background-color: #f5f5f5;
}
.roundimage{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border:10px solid white;
  padding-top: 50px;
  float: left;
  margin-top: 10%;
  margin-left: 10%;


  background: rgba(179,220,237,1);
background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );


}

.roundimage img{
   transition: transform .5s;
}
.roundimage img:hover{
  transform: scale(2.5);
}
.plaseof{
   font-family: 'Anton', sans-serif;

    text-transform: uppercase;
}

.plaseof h3{
  color: rgb(255, 193, 7);;
}
.plaseof span{
  color: rgba(41,184,229,1);
}
.plaseof p{
  font-size: 14px;
    font-family: 'Gruppo', cursive;
}
.plase{
  height: 200px;
  overflow: hidden;

}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}



/*booking-form*/

.booking-form {
  background-color: #1dc2f8;
  padding: 10px 10px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  
  width: 100%;
 
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(62, 72, 92, 0.3);
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  display: inline-block;
  color: #3e485c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}

.booking-form .submit-btn {
  display: inline-block;
  color: #fff;
  background-color: #1e62d8;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  margin-left: 10px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}

.booking-cta {
  margin-top: 80px;
  margin-bottom: 30px;
}

.booking-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.booking-cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}


/* .testheight Not required - unless testing ;) */
.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding:100px 20px;
}
.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:20px;
  right:10px; 
}
.scroll {
  position:absolute;
  right:20px;
  bottom:20px;
  background:#b2b2b2;
  background:rgba(178,178,178,0.7);
  padding:20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover {
  background:rgba(178,178,178,1.0);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover .fa {
  padding-top:-10px;
}
.scroll .fa {
  font-size:30px;
  margin-top:-5px;
  margin-left:1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
/*contact page*/
.topimage{
  height: 400px;
  background-image: url(https://images.unsplash.com/photo-1499676277068-4f353b14870b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);
 
  /* Set a specific height */
   

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*rooms page */
.roomss{
  border:1px solid #E3E8E8;
  margin: 0;
  padding: 0;
  height: 200px;
  overflow: hidden;
  text-align: center;
  
}
.leftpart{
  width: 30%;
  transform: 1.5;
  float: left;
  

}
.midpart{
width: 35%;
float: left;
padding-left: 20px;
border-right:2px dashed #E3E8E8;
 height: 200px;
}
.rightpart{
width: 35%;
float: left;
}

.rightpart a{
  text-decoration: none;
  color: black;
  
  border-radius: 20px;
  padding: 10px;
  font-weight: 900;
}
.rightpart a:hover{
  background-color:#FFC300;
}
/*hotel info page*/
.info{

  height: 500px;
 
}
.roomservice{
  width: 30%;
  border:1px dashed #E3E8E8 ;
  padding: 10px;
  text-align: center;
  float: left;
}
.roser{
  height: auto;
}

.clearfix {
  overflow: auto;
}
.comment{
  border-radius: 5px;
  border:1px solid #E3E8E8 ;
  margin-top: 10px;
  margin-bottom: 10px;
  color: yellow;
  padding: 5px;
}


@media only screen and (max-width: 600px) {
  body {
    
  }
  .carousel-inner{
    height: 300px;
   
    background-attachment: cover;
  }
  .logo{
    top: 100px;
    font-size: 30px;
  }
  .top{
    height: 30px;
    background-color: rgb(199, 55, 55);
    top: 0;
    width: 100%;
    right: 0;

  }

  .carousel{
  
  z-index: 10;
  width: 100%;
 margin-top: -100px;
 background-attachment: fixed;

}
.carousel-caption{
  position: fixed;
  top: 100px;

}
.carousel ol li{
  display: n
}
}

/*contact page*/

.hedd h3{
  background-color: rgb(197, 56, 133)  ;
  border-radius: 30px;
  padding: 10px;
}
.address{
  font-weight: 900;
  color: #3e485c;
}

/*cab service*/
.cab{
  width: 100%;
  height: 150px;
  background-color: rgba(0,123,255,.25);;
  padding: 10px;

}
.cab h1,h2{
  color: white;
  font-weight: 900;
  font-family: 'Luckiest Guy', cursive;
 -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
/*cab service page */
.cab{
  height: 200px;
  overflow: hidden;
}




/* ----------------------------------------------
 * Generated by Animista on 2019-3-5 15:46:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/*saba */
.sss{
  height: 500px;
  overflow: hidden;
}

.mmss{
   height: 200px;
  background-color: #1dc2f8;
  padding-bottom: 10px;
  text-transform: uppercase;
   /* The image used */
  background-image: url("https://images.unsplash.com/photo-1519575658369-75718cc2fc76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");

  /* Set a specific height */
  height: auto; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}